<div class="abstract">
	<h1>Coding Services Hannover</h1>
	<p>
		Willkommen auf meiner Seite. Als freiberufliche Software-Entwicklerin und Programmiererin bin ich in den folgenden Bereichen tägig:
	</p>

	<ul class="workFields">
		<li class="workField">
			<h3 ng-click="showFieldDescription(0)">
				System-Entwicklung
				<span class="plus">+</span>
				<span class="minus">-</span>
			</h3>
			<div class="fieldDescription">
				Server-Client- und Monitoring-Systeme mit folgenden Protokollen:
				<ul>
					<li>TCP/IP</li>
					<li>HTTP</li>
				</ul>

				Technologien:
				<ul>
					<li>Python</li>
					<li>Twisted Python</li>
					<li>Psycopg2</li>
					<li>Javascript</li>
				</ul>	
			</div>
		</li>
		<li class="workField">
			<h3 ng-click="showFieldDescription(1)">
				Netzwerk-Programmierung
				<span class="plus">+</span>
				<span class="minus">-</span>
			</h3>
			<div class="fieldDescription">
				Server-Client- und Monitoring-Systeme mit folgenden Protokollen:
				<ul>
					<li>TCP/IP</li>
					<li>HTTP</li>
				</ul>

				Technologien:
				<ul>
					<li>Python</li>
					<li>Twisted Python</li>
					<li>Javascript</li>
				</ul>	
			</div>
		</li>
		<li class="workField">
			<h3 ng-click="showFieldDescription(2)">
				Web-Entwicklung
				<span class="plus">+</span>
				<span class="minus">-</span>
			</h3>
			<div class="fieldDescription">
				Webserver und Webseiten mit folgenden Protokollen:
				<ul>
					<li>WebSockets</li>
					<li>HTTP</li>
				</ul>

				Technologien:
				<ul>
					<li>Python</li>
					<li>Autobahn Python</li>
					<li>Javascript</li>
					<li>AngularJS</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>SASS</li>
					<li>PHP</li>
					<li>Wordpress</li>
				</ul>

				Geräte:
				<ul>
					<li>Desktop</li>
					<li>Tablet</li>
					<li>Mobile</li>
				</ul>	
			</div>
		</li>
		<li class="workField">
			<h3 ng-click="showFieldDescription(3)">
				Datenbanken
				<span class="plus">+</span>
				<span class="minus">-</span>
			</h3>
			<div class="fieldDescription">
				Datenbank-Design, -Schnittstellen und Wartung <br>

				Technologien:
				<ul>
					<li>PostgreSQL</li>
					<li>Psycopg2</li>
				</ul>	
			</div>
		</li>
		<li class="workField">
			<h3 ng-click="showFieldDescription(4)">
				Computeralgebra
				<span class="plus">+</span>
				<span class="minus">-</span>
			</h3>
			<div class="fieldDescription">
				Implementation of libraries for normalization and desinglarization of arithmetic surfaces and surfaces over fields.

				Technologies:
				<ul>
					<li>Computeralgebra System Singular</li>
				</ul>

				<img id="cayley" src=images/CayleyKubik.png />		
			</div>
		</li>
	</ul>

	<p>
	Meine Arbeit zeichnet sich aus durch 
	<ul>
		<li>Kreative Lösungen</li>
		<li>Klare Planung</li>
		<li>Übersichtliche Strukturen in Workflow und Code</li>
		<li>Fokussierte Arbeitsweise</li>
		<li>Erkennen von interdisziplinären Zusammenhängen</li>
	</ul>

	<p>
		Informationssicherheit auf allen Ebenen ist ein elementares Thema in meiner Arbeit als Coderin. Auch bei Installation und Wartung meiner Software unterstütze ich meine Kunden gerne beim entsprechenden Einrichten der Umgebungen und mit Tipps zum Handling von sensiblen Daten.
	</p>

</div>

