<div id="aboutText">
	<h1>My Personal Relation to Coding</h1>
	
	I studied mathematics at the Leibniz University of Hanover. After finishing my diploma, which is roughly equivalent to a master, I worked at the Institute of Algebraic Geometry for some years. There I researched for the 
	<a class="textLink" href="http://www.computeralgebra.de/">
		DFG Priority Project SPP 1489
	</a> 
	with the title "Algorithmic and Experimental Methods in Algebra, Geometry and Number Theory". The major part of my work was to translate complex algorithms from mathematical theory into code.<br>
	During this time, I implemented two libraries into the 
	<a class="textLink" href="https://www.singular.uni-kl.de/Manual/4-0-2/">
		Computer Algebra System Singular</a>. 
	One was for the normalization of arithmetic surfaces and the other for Lipmans Desingularization Algorithm, which applies to surfaces over the integers or over a field. You can take a look into the latter library
	<a class="textLink" href="http://gandalf.krueger-berg.de/~anne/reslipman.lib">
		reslipman.lib
	</a> here. 
	<br> 
	That was when I discovered my passion for coding. So I decided to look for software development positions in the industry.<br> 
	The first systems I wrote where for dynamic public transport information. They are in 17 towns in Germany and in Warsaw active, like 
	<a class="textLink" href="http://www.svhi-hildesheim.de">
		SVHI Stadtverkehr Hildesheim</a>,
	<a class="textLink" href="http://www.pforzheimfaehrtbus.de/">
		Pforzheimfährtbus
	</a> and many others. I highly enjoy writing server and client systems. The related network-programming evoked my curiosity for information security. So I began to participate on information security conferences like
	<a class="textLink" href="https://www.blackhat.com/eu-15/">Black Hat Europe</a>   
	and their webcasts and courses of
	<a class="textLink" href="https://www.elearnsecurity.com/">eLearnSecurity</a>.<br> 
	As browser-applications often where part of my webserver and -client-systems, it was not a big step for me to start developing websites too.<br> 
	Currently I am working as a freelance coder. Feel free to contact me for your planned projects!
</div>