<div class="abstract">
	<h1>Coding Services Hanover</h1>
	<p>
		Welcome to my website. I offer software-development and -maintenance in the following fields:
	</p>

	<ul class="workFields">
		<li class="workField">
			<h3 ng-click="showFieldDescription(0)">
				System-Development
				<span class="plus">+</span>
				<span class="minus">-</span>
			</h3>
			<div class="fieldDescription">
				Server-Client- and Monitoring-Systems with the following protocols:
				<ul>
					<li>TCP/IP</li>
					<li>HTTP</li>
				</ul>

				Technologies:
				<ul>
					<li>Python</li>
					<li>Twisted Python</li>
					<li>Psycopg2</li>
					<li>Javascript</li>
				</ul>	
			</div>
		</li>
		
		<li class="workField">
			<h3 ng-click="showFieldDescription(1)">
				Network-Programming
				<span class="plus">+</span>
				<span class="minus">-</span>
			</h3>
			<div class="fieldDescription">
				Server-Client- and Monitoring-Systems with the following protocols:
				<ul>
					<li>TCP/IP</li>
					<li>HTTP</li>
				</ul>

				Technologies:
				<ul>
					<li>Python</li>
					<li>Twisted Python</li>
					<li>Javascript</li>
				</ul>	
			</div>
		</li>
		<li class="workField">
			<h3 ng-click="showFieldDescription(2)">
				Web-Development
				<span class="plus">+</span>
				<span class="minus">-</span>
			</h3>
			<div class="fieldDescription">
				Webservers and websites with the following protocols:
				<ul>
					<li>WebSockets</li>
					<li>HTTP</li>
				</ul>

				Technologies:
				<ul>
					<li>Python</li>
					<li>Autobahn Python</li>
					<li>Javascript</li>
					<li>AngularJS</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>SASS</li>
					<li>PHP</li>
					<li>Wordpress</li>
				</ul>

				Devices:
				<ul>
					<li>Desktop</li>
					<li>Tablet</li>
					<li>Mobile</li>
				</ul>	
			</div>
		</li>
		<li class="workField">
			<h3 ng-click="showFieldDescription(3)">
				Databases
				<span class="plus">+</span>
				<span class="minus">-</span>
			</h3>
			<div class="fieldDescription">
				Database-design, -interfaces, and -maintenance <br>

				Technologies:
				<ul>
					<li>PostgreSQL</li>
					<li>Psycopg2</li>
				</ul>	
			</div>
		</li>
		<li class="workField">
			<h3 ng-click="showFieldDescription(4)">
				Computer Algebra
				<span class="plus">+</span>
				<span class="minus">-</span>
			</h3>
			<div class="fieldDescription">
				libraries for normalization and desinglarization of arithmetic surfaces and surfaces over fields.<br>

				Technologies:
				<ul>
					<li>Computeralgebra System Singular</li>
				</ul>

				<div id="cayley">
					<img src="/images/CayleyKubik.png" />
				</div>	
			</div>
		</li>

	</ul>

	<p>
	My work is characterized by
	<ul>
		<li>Creative Solutions</li>
		<li>Foresighted planning</li>
		<li>Clearly arranged structures in work flow and code</li>
		<li>Focussed method of operation</li>
		<li>Recognition of interdisciplinary correlations</li>
	</ul>

	<p>
		Information security on all levels is a elementary subject in my work as a coder. When I install and maintain my software, I like to support my customers with setting an appropriate environment and tipps for handling sensitive data.
	</p>

</div>