<div id="aboutText">
	<h1>Mein persönlicher Bezug zum Coden</h1>
	
	Nach meinem Mathematik-Diplom an der Leibniz Universität Hannover war ich am Institut für Algebraische Geometrie im Rahmen des 
	<a class="textLink" href="http://www.computeralgebra.de/">
		DFG Priority Project SPP 1489
	</a> 
	mit dem Titel "Algorithmische and Experimentelle Methoden in Algebra, Geometry und Zahlentheorie" tätig.<br>
	Ein großer Teil meiner Arbeit war es, komplexe Algorithmen aus mathematischer Theorie in Code zu übersetzen und zu implementieren. Ich habe zwei Bibliotheken in das 
	<a class="textLink" href="https://www.singular.uni-kl.de/Manual/4-0-2/">
		Computer Algebra System Singular
	</a> 
	implementiert. Eine davon beinhaltet zwei verschiedene Algorithmen zum Thema Normalisierung arithmetischer Flächen, die andere Lipmans Desingularisierungs Algorithmus. Letztere ist hier einsehbar:
	<a class="textLink" href="http://gandalf.krueger-berg.de/~anne/reslipman.lib">
		reslipman.lib
	</a><br> 
	In dieser Zeit entdeckte ich meine Leidenschaft fürs Coden. Also entschied ich mich dazu, als Programmiererin und Software-Entwicklerin in die Wirtschaft zu gehen.<br> 
	Meine ersten Projekte waren Systeme für dynamische Fahrgastinformation im öffentlichen Verkehr. Sie sind mittlerweile in 17 Städten in Deutschland und in Warschau im Einsatz, wie 
	<a class="textLink" href="http://www.svhi-hildesheim.de">
		SVHI Stadtverkehr Hildesheim</a> 
	und
	<a class="textLink" href="http://www.pforzheimfaehrtbus.de/">
		Pforzheimfährtbus</a>. Netzwerk-Programmierung weckte meine Neugier für Informationssicherheit. Somit begann ich an dementsprechenden Konferenzen wie der 

	<a class="textLink" href="https://www.blackhat.com/eu-15/">Black Hat Europe</a>  und deren Webcasts und Kursen von 
	<a class="textLink" href="https://www.elearnsecurity.com/">eLearnSecurity</a> teilzunehmen.<br> 
	Da Browser-Anwendungen oft ein Teil meiner Webserver und -client Systeme sind, war es kein großer Schritt für mich auch Webseiten zu entwickeln.<br> 
	Zur Zeit arbeite ich als freiberufliche Coderin. Ich freue mich, wenn sie mich mich für Ihre geplanten Projekte kontaktieren!
</div>
